/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/************** utils**************** */


/* layout */

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.display-ib {
    display: inline-block;
}

.display-b {
    display: block;
}


/* dimensions */

.wd-50 {
    width: 50%;
}

.wd-100 {
    width: calc(100% - 50px);
}

.wd-30 {
    width: 30%;
}

.wd-40 {
    width: 40%;
}


/* text */

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/* border */

.border {
    border: 1px solid gray;
}

.border-rlb {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 30px 20px 30px 20px;
}


/* position */

.relative {
    position: relative;
}

.m20 {
    margin: 20px 0;
}

.ml20 {
    margin-left: 20px;
}

.m40 {
    margin: 40px 0;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}


/* style */

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.btn-blu {
    background-color: #3B85FF;
    color: white;
}

.btn a {
    padding: 10px 15px;
}

.btn:hover {
    opacity: 0.7;
}

.blu {
    color: blue;
}

.green {
    background-color: green;
}

.indigo {
    background-color: indigo;
}

.l-blu {
    background-color: #3B85FF;
    ;
}

.red {
    background-color: red;
}

.white {
    background-color: whitesmoke;
}

.filter-white {
    filter: invert(100%);
}

.gray {
    color: gray;
}


/* text */

.bolder {
    font-weight: 900;
}

.bold {
    font-weight: bold;
}

.family {
    font-family: 'Open Sans', sans-serif;
}

.fontw400 {
    font-weight: 400;
}

section h2 {
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 40px;
}

.f14 {
    font-size: 14px;
}

.f30 {
    font-size: 30px;
}


/*********** header ***********/


/* top-bar */

nav {
    width: 1200px;
    position: fixed;
    background-color: white;
    margin: 0 auto;
    z-index: 2;
    border-bottom: 1px solid #3B85FF;
}

.top-bar {
    height: 80px;
}

header li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 20px;
    font-weight: 700;
    font-size: 14px;
}

[alt=logo] {
    vertical-align: middle;
    padding-bottom: 4px;
}

[alt=logo]:hover {
    opacity: 0.7;
}

.top-bar .display-ib {
    line-height: 80px;
    vertical-align: middle;
}

.top-bar .display-ib :hover {
    opacity: 0.7;
}

.top-bar a.btn-blu {
    padding: 5px 10px;
}


/* spotlight */

.spotlight {
    background-color: #B4D0E7;
    padding: 50px 0;
    margin-bottom: 150px;
}

.spotlight .content {
    margin: 40px auto;
    width: 80%;
}

.content h1 {
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 30px;
}

.content-left {
    padding-right: 50px;
    width: 400px;
    font-weight: 700;
}

.fas.fa-arrow-down {
    font-size: 40px;
    padding-top: 20px;
}

.content-right {
    position: absolute;
    top: 0;
    bottom: -60%;
}

.content-right img {
    width: 120%;
    height: 100%;
}


/******************** main ***************/


/* section plans */

section.plans {
    width: 80%;
    margin: 100px auto;
}

section .plans-container .col {
    width: calc(100% / 3);
}

section .plans-container .col {
    padding: 0 50px 0 0;
}

.section.plans h4 {
    font-size: 18px;
}

section.plans h3 {
    font-size: 25px;
}

section .plan {
    font-size: 14px;
    font-weight: bolder;
}

.input span {
    font-weight: bolder;
    font-size: 14px;
    margin-right: 10px;
}

.plan-header {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.offer i {
    text-indent: -1.1em;
    margin-left: 15px;
}

hr {
    width: 20%;
    color: gray;
}

.offer li {
    margin-bottom: 20px;
    margin-left: 25px;
}

.offer span.check {
    display: inline-block;
    font-size: 20px;
    text-indent: -1.2em;
    color: blue;
}

.enterprise .btn {
    position: absolute;
    right: 5%;
    top: 25%;
}


/* section partners */

section.partner {
    width: 80%;
    margin: 100px auto;
}

section.partner .col.img {
    width: 500px;
}

section.partner .col.img img {
    width: 100%;
}

section.partner .col.text {
    width: 400px;
    padding: 50px 0 0 50px;
}

section.partner .col.text a {
    padding: 5px 10px;
    border: 1px solid gray;
}


/* section business */

section.business {
    width: 80%;
    margin: 100px auto;
}

section.business .container .col {
    width: calc(100% / 3);
}

section.business .container .col img {
    width: 100%;
}

section.business .container .col-data {
    padding: 0 20px;
}

section.business .container .col-text p {
    font-size: 14px;
}


/* section clients */

section.clients .title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

section.clients .title h2 {
    width: 55%;
}

section.clients .container.clearfix {
    max-width: 1200px;
    margin: 0 auto;
}

section.clients .col.logo {
    width: 50%;
    height: 150px;
}

section.clients .col.logo:hover {
    filter: brightness(1.5);
    border: 5px solid rgba(255, 255, 255, .3);
}

section.clients .col svg {
    width: 100%;
    height: 150px;
    fill: white;
    padding: 40px;
}

section.clients .col img {
    width: 100%;
    height: 150px;
    padding: 40px;
}

section.clients .col.wd-40 {
    padding-left: 20px;
    height: 300px;
}

section.clients .col.wd-40 img {
    width: 40%;
    height: 60%;
}

section.clients .container-small {
    height: 200px;
    background-color: #B4D0E7;
}

section.clients .container-small .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

section.clients .container-small .btn {
    position: absolute;
    top: 0;
    right: -20%;
    background-color: white;
}

section.clients .container-small .content h3 {
    width: 60%;
    color: indigo;
}


/* section question  */

section.questions {
    width: 80%;
    margin: 80px auto;
}

section.questions hr {
    width: 100%;
}

section.questions .question p {
    line-height: 70px;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 14px;
}

section.questions .question i {
    position: absolute;
    right: 5%;
    top: 40%;
}


/* *********Footer************* */

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px;
    padding-bottom: 30px;
}

footer .dropbox {
    margin-right: 70px;
}

footer .community {
    position: absolute;
    top: 0;
}

footer h4 {
    margin-bottom: 30px;
    font-size: 25px;
}

footer li {
    margin-top: 10px;
}

footer li:hover {
    text-decoration: underline;
}

footer li a {
    color: white;
    font-size: 12px;
}

footer hr {
    margin: 80px 0 40px 0;
}

footer i {
    margin: 0 5px;
}